In [1]:
import pandas as pd
report_data=pd.read_csv('ATargets.unknown',sep=' ',header=None)
#remove last column
report_data=report_data.drop(report_data.columns[-1],axis=1)
column_names=names=['number','time','reported_by','type','mobility','length','width','defense','protection','activity','location_X','location_Y']
report_data.columns=column_names
report_data.head()

,number,time,reported_by,type,mobility,length,width,defense,protection,activity,location_X,location_Y
0,741991#82,8513,Ground,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499
1,477158#27,1670,Ground,Delta,Static,68,47,Low,Fortified,Active,938,450
2,385469#67,873,Airborne,Eta,Static,31,25,High,Bastioned,Active,108,551
3,487459#99,1016,Ground,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469
4,483993#16,1538,Ground,Delta,Static,63,42,Trivial,Bastioned,Active,285,980

In [2]:
#filter rows which has 'UNK' in any column

corrupted_data=report_data[report_data.isin(['UNK']).any(axis=1)]
corrupted_data.head()

,number,time,reported_by,type,mobility,length,width,defense,protection,activity,location_X,location_Y
15,689291#74,7075,Airborne,UNK,Fixed,32,31,High,UNK,UNK,508,344
71,324538#29,845,Airborne,Epsilon,UNK,35,62,Low,UNK,Dormant,898,539
73,268983#95,7656,Signal,Alpha,Mobile,50,59,UNK,Barricaded,Dormant,15,355
75,494286#61,8039,Ground,Iota,UNK,7,26,High,UNK,Semi-Active,788,338
84,934334#66,1143,Signal,UNK,Mobile,21,22,UNK,Bastioned,Semi-Active,287,828

In [3]:
#filter rows which has Zeta as type and Mobile as mobility

excluded_data=report_data[(report_data['type']=='Zeta') & (report_data['mobility']=='Mobile')]
excluded_data.head()

,number,time,reported_by,type,mobility,length,width,defense,protection,activity,location_X,location_Y
11,675677#41,167,Airborne,Zeta,Mobile,50,82,Trivial,Barricaded,Dormant,332,113
14,393482#31,7119,Airborne,Zeta,Mobile,69,94,High,Barricaded,Active,343,523
18,144178#84,158,Airborne,Zeta,Mobile,43,48,Medium,Bastioned,Active,535,540
20,275675#99,3738,Airborne,Zeta,Mobile,57,85,Trivial,Bastioned,Semi-Active,494,230
95,922588#82,8916,Ground,Zeta,Mobile,62,92,Medium,Fortified,Active,492,520

In [4]:
#save corrupted data into a text file named 'remanded.txt
corrupted_data.to_csv('remanded.txt',sep=' ',index=False,header=False)

#save excluded data into a text file named 'excluded.txt'
excluded_data.to_csv('excluded.txt',sep=' ',index=False,header=False)

In [5]:
#remove corrupted and excluded data from report_data

indices_to_drop=set(corrupted_data.index).union(set(excluded_data.index))
valid_report_data=report_data.drop(indices_to_drop)
valid_report_data.head()

,number,time,reported_by,type,mobility,length,width,defense,protection,activity,location_X,location_Y
0,741991#82,8513,Ground,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499
1,477158#27,1670,Ground,Delta,Static,68,47,Low,Fortified,Active,938,450
2,385469#67,873,Airborne,Eta,Static,31,25,High,Bastioned,Active,108,551
3,487459#99,1016,Ground,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469
4,483993#16,1538,Ground,Delta,Static,63,42,Trivial,Bastioned,Active,285,980

In [6]:
print("Total Number of rows in report data: ",report_data.shape[0])
print("Number of rows in corrupted data: ",corrupted_data.shape[0])
print("Number of rows in excluded data: ",excluded_data.shape[0])
print("Number of rows in valid report data after removing corrupted and excluded data: ",valid_report_data.shape[0])

Total Number of rows in report data:  10000
Number of rows in corrupted data:  529
Number of rows in excluded data:  350
Number of rows in valid report data after removing corrupted and excluded data:  9123

In [7]:
#remove reported_by column from valid_report_data

valid_report_data=valid_report_data.drop(['reported_by'],axis=1)
valid_report_data.head()

,number,time,type,mobility,length,width,defense,protection,activity,location_X,location_Y
0,741991#82,8513,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499
1,477158#27,1670,Delta,Static,68,47,Low,Fortified,Active,938,450
2,385469#67,873,Eta,Static,31,25,High,Bastioned,Active,108,551
3,487459#99,1016,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469
4,483993#16,1538,Delta,Static,63,42,Trivial,Bastioned,Active,285,980

In [8]:
def return_class(type):
    """
    Given type returns class of the target.

    Args:
        type (str): Type of the target. One of Alpha, Beta, Gamma, Delta, Epsilon, Zeta, Eta, Theta, Iota.
    """
    if type in ['Alpha','Beta','Gamma']:
        return 'Strategic'
    elif type in ['Delta','Epsilon','Zeta']:
        return 'Operational'
    elif type in ['Eta','Theta','Iota']:
        return 'Tactical'
    else:
        raise ValueError("Invalid type")

#add a new column named 'class' to valid_report_data
valid_report_data['class']=valid_report_data['type'].apply(return_class)
valid_report_data.head()

,number,time,type,mobility,length,width,defense,protection,activity,location_X,location_Y,class
0,741991#82,8513,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499,Tactical
1,477158#27,1670,Delta,Static,68,47,Low,Fortified,Active,938,450,Operational
2,385469#67,873,Eta,Static,31,25,High,Bastioned,Active,108,551,Tactical
3,487459#99,1016,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469,Operational
4,483993#16,1538,Delta,Static,63,42,Trivial,Bastioned,Active,285,980,Operational

In [9]:
#define a new column named 'sector' to valid_report_data based on location_X and location_Y

def return_sector(location_X,location_Y):
    """
    Given location_X and location_Y returns sector of the target.
    Args:
        location_X (int): X coordinate of the target.
        location_Y (int): Y coordinate of the target.
    """
    if location_X in range(0,251) and location_Y in range(0,251):
        return 'A'
    elif location_X in range(251,751) and location_Y in range(0,251):
        return 'B'
    elif location_X in range(751,1001) and location_Y in range(0,251):
        return 'C'
    elif location_X in range(0,251) and location_Y in range(251,751):
        return 'D'
    elif location_X in range(251,751) and location_Y in range(251,751):
        return 'E'
    elif location_X in range(751,1001) and location_Y in range(251,751):
        return 'F'
    elif location_X in range(0,251) and location_Y in range(751,1001):
        return 'G'
    elif location_X in range(251,751) and location_Y in range(751,1001):
        return 'H'
    elif location_X in range(751,1001) and location_Y in range(751,1001):
        return 'I'
    else:
        raise ValueError("Invalid location_X and location_Y")

valid_report_data['sector']=valid_report_data.apply(lambda x: return_sector(x['location_X'],x['location_Y']),axis=1)
valid_report_data.head()

,number,time,type,mobility,length,width,defense,protection,activity,location_X,location_Y,class,sector
0,741991#82,8513,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499,Tactical,F
1,477158#27,1670,Delta,Static,68,47,Low,Fortified,Active,938,450,Operational,F
2,385469#67,873,Eta,Static,31,25,High,Bastioned,Active,108,551,Tactical,D
3,487459#99,1016,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469,Operational,E
4,483993#16,1538,Delta,Static,63,42,Trivial,Bastioned,Active,285,980,Operational,H

In [10]:
value_maps=dict()
value_maps['class']=dict()
value_maps['Activity']=dict()
value_maps['Defense']=dict()
value_maps['Protection']=dict()
value_maps['Mobility']=dict()

#keys in each dictionary are the unique values in the column

value_maps['class']['Strategic']=60
value_maps['class']['Operational']=40
value_maps['class']['Tactical']=20

value_maps['Activity']['Active']=15
value_maps['Activity']['Semi-Active']=10
value_maps['Activity']['Dormant']=5

value_maps['Defense']['High']=5
value_maps['Defense']['Medium']=4
value_maps['Defense']['Low']=3
value_maps['Defense']['Trivial']=2

value_maps['Protection']['Bastioned']=5
value_maps['Protection']['Fortified']=4
value_maps['Protection']['Reinforced']=3
value_maps['Protection']['Barricaded']=2

value_maps['Mobility']['Fixed']=3
value_maps['Mobility']['Static']=2
value_maps['Mobility']['Mobile']=1


#add a new column named 'value' to valid_report_data
#formula to calculate value is class*activity*mobility/sqrt(defense*protection)

def calculate_value(row):
    """
    Given a row of valid_report_data returns value of the target.
    Args:
        row (pandas.Series): A row of valid_report_data.
    """
    class_value=value_maps['class'][row['class']]
    activity_value=value_maps['Activity'][row['activity']]
    mobility_value=value_maps['Mobility'][row['mobility']]
    defense_value=value_maps['Defense'][row['defense']]
    protection_value=value_maps['Protection'][row['protection']]
    return class_value*activity_value*mobility_value/(defense_value*protection_value)**0.5


valid_report_data['value']=valid_report_data.apply(calculate_value,axis=1)
valid_report_data.head()

,number,time,type,mobility,length,width,defense,protection,activity,location_X,location_Y,class,sector,value
0,741991#82,8513,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499,Tactical,F,40.000000
1,477158#27,1670,Delta,Static,68,47,Low,Fortified,Active,938,450,Operational,F,346.410162
2,385469#67,873,Eta,Static,31,25,High,Bastioned,Active,108,551,Tactical,D,120.000000
3,487459#99,1016,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469,Operational,E,636.396103
4,483993#16,1538,Delta,Static,63,42,Trivial,Bastioned,Active,285,980,Operational,H,379.473319

In [11]:
#add a column named 'target_number' to valid_report_data which is index of the row in the form of 'TGT-<index>'

valid_report_data['target_number']=valid_report_data.index.map(lambda x: 'TGT-'+str(x))
valid_report_data.head()

,number,time,type,mobility,length,width,defense,protection,activity,location_X,location_Y,class,sector,value,target_number
0,741991#82,8513,Iota,Mobile,7,11,High,Bastioned,Semi-Active,889,499,Tactical,F,40.000000,TGT-0
1,477158#27,1670,Delta,Static,68,47,Low,Fortified,Active,938,450,Operational,F,346.410162,TGT-1
2,385469#67,873,Eta,Static,31,25,High,Bastioned,Active,108,551,Tactical,D,120.000000,TGT-2
3,487459#99,1016,Delta,Fixed,53,61,Medium,Barricaded,Active,434,469,Operational,E,636.396103,TGT-3
4,483993#16,1538,Delta,Static,63,42,Trivial,Bastioned,Active,285,980,Operational,H,379.473319,TGT-4

In [12]:
#reorder the columns of valid_report_data

target_list=valid_report_data[['target_number','class','sector','number','time','type','mobility','length','width','protection','activity','defense','location_X','location_Y','value']].copy()
target_list.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value
0,TGT-0,Tactical,F,741991#82,8513,Iota,Mobile,7,11,Bastioned,Semi-Active,High,889,499,40.000000
1,TGT-1,Operational,F,477158#27,1670,Delta,Static,68,47,Fortified,Active,Low,938,450,346.410162
2,TGT-2,Tactical,D,385469#67,873,Eta,Static,31,25,Bastioned,Active,High,108,551,120.000000
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103
4,TGT-4,Operational,H,483993#16,1538,Delta,Static,63,42,Bastioned,Active,Trivial,285,980,379.473319

In [13]:
#calculate criticality of each target

#criticality is defined as product of class*protection*defense

target_list['criticality']=target_list.apply(lambda x: value_maps['class'][x['class']]*value_maps['Protection'][x['protection']]*value_maps['Defense'][x['defense']],axis=1)
target_list.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value,criticality
0,TGT-0,Tactical,F,741991#82,8513,Iota,Mobile,7,11,Bastioned,Semi-Active,High,889,499,40.000000,500
1,TGT-1,Operational,F,477158#27,1670,Delta,Static,68,47,Fortified,Active,Low,938,450,346.410162,480
2,TGT-2,Tactical,D,385469#67,873,Eta,Static,31,25,Bastioned,Active,High,108,551,120.000000,500
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103,320
4,TGT-4,Operational,H,483993#16,1538,Delta,Static,63,42,Bastioned,Active,Trivial,285,980,379.473319,400

In [14]:
#create a column range which is the range of the target

target_list['range']=target_list.apply(lambda x: (x['location_X']**2+x['location_Y']**2)**0.5,axis=1)

In [15]:
#now define accessability of each target
#accesability is defined as product of range*defense*mobility where as range is calculated from origin



target_list['accessability']=target_list.apply(lambda x: x['range']*value_maps['Defense'][x['defense']]*value_maps['Mobility'][x['mobility']],axis=1)
target_list.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value,criticality,range,accessability
0,TGT-0,Tactical,F,741991#82,8513,Iota,Mobile,7,11,Bastioned,Semi-Active,High,889,499,40.000000,500,1019.471432,5097.357158
1,TGT-1,Operational,F,477158#27,1670,Delta,Static,68,47,Fortified,Active,Low,938,450,346.410162,480,1040.357631,6242.145785
2,TGT-2,Tactical,D,385469#67,873,Eta,Static,31,25,Bastioned,Active,High,108,551,120.000000,500,561.484639,5614.846391
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103,320,638.996870,7667.962441
4,TGT-4,Operational,H,483993#16,1538,Delta,Static,63,42,Bastioned,Active,Trivial,285,980,379.473319,400,1020.600314,4082.401254

In [16]:
#calculate vulnerability of each target

#vulnerability is defined as product of accessability/protection

target_list['vulnerability']=target_list.apply(lambda x: x['accessability']/value_maps['Protection'][x['protection']],axis=1)
target_list.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value,criticality,range,accessability,vulnerability
0,TGT-0,Tactical,F,741991#82,8513,Iota,Mobile,7,11,Bastioned,Semi-Active,High,889,499,40.000000,500,1019.471432,5097.357158,1019.471432
1,TGT-1,Operational,F,477158#27,1670,Delta,Static,68,47,Fortified,Active,Low,938,450,346.410162,480,1040.357631,6242.145785,1560.536446
2,TGT-2,Tactical,D,385469#67,873,Eta,Static,31,25,Bastioned,Active,High,108,551,120.000000,500,561.484639,5614.846391,1122.969278
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103,320,638.996870,7667.962441,3833.981221
4,TGT-4,Operational,H,483993#16,1538,Delta,Static,63,42,Bastioned,Active,Trivial,285,980,379.473319,400,1020.600314,4082.401254,816.480251

In [17]:
#calculate recoverability of each target

#recoverability is defined as product of criticality/vulnerability

target_list['recoverability']=target_list.apply(lambda x: x['criticality']/x['vulnerability'],axis=1)
target_list.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value,criticality,range,accessability,vulnerability,recoverability
0,TGT-0,Tactical,F,741991#82,8513,Iota,Mobile,7,11,Bastioned,Semi-Active,High,889,499,40.000000,500,1019.471432,5097.357158,1019.471432,0.490450
1,TGT-1,Operational,F,477158#27,1670,Delta,Static,68,47,Fortified,Active,Low,938,450,346.410162,480,1040.357631,6242.145785,1560.536446,0.307587
2,TGT-2,Tactical,D,385469#67,873,Eta,Static,31,25,Bastioned,Active,High,108,551,120.000000,500,561.484639,5614.846391,1122.969278,0.445248
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103,320,638.996870,7667.962441,3833.981221,0.083464
4,TGT-4,Operational,H,483993#16,1538,Delta,Static,63,42,Bastioned,Active,Trivial,285,980,379.473319,400,1020.600314,4082.401254,816.480251,0.489908

In [18]:
#analysed target contains target_number, criticality, accessability, vulnerability and recoverability

analysed_target=target_list[['target_number','criticality','accessability','vulnerability','recoverability']].copy()
analysed_target.head()

  target_number  criticality  accessability  vulnerability  recoverability
0         TGT-0          500    5097.357158    1019.471432        0.490450
1         TGT-1          480    6242.145785    1560.536446        0.307587
2         TGT-2          500    5614.846391    1122.969278        0.445248
3         TGT-3          320    7667.962441    3833.981221        0.083464
4         TGT-4          400    4082.401254     816.480251        0.489908

### Rule based selection

In [19]:
#rule-1: Select maximum of 25% of the targets where criticality is within 1 sigma of the mean of the criticality of all the targets

#calculate mean and standard deviation of criticality

mean_criticality=target_list['criticality'].mean()
std_criticality=target_list['criticality'].std()

#select targets where criticality is within 1 sigma of the mean of the criticality of all the targets

rule_1=target_list[target_list['criticality'].between(mean_criticality-std_criticality,mean_criticality+std_criticality)].copy()
rule_1.head()

#select maximum of 25% of the targets where criticality is within 1 sigma of the mean of the criticality of all the targets

rule_1=rule_1.sort_values(by='criticality',ascending=False).head(int(len(rule_1)*0.25)).index
print("Number of targets selected by rule-1: ",len(rule_1))

Number of targets selected by rule-1:  1771

In [20]:
#rule-2: select maximum count of 75% of targets where accessibility is above the mean of accessibility of all the targets

#calculate mean of accessability

mean_accessability=target_list['accessability'].mean()

#select targets where accessibility is above the mean of accessibility of all the targets

rule_2=target_list[target_list['accessability']>mean_accessability].copy()

#select maximum count of 75% of targets where accessibility is above the mean of accessibility of all the targets

rule_2=rule_2.sort_values(by='accessability',ascending=False).head(int(len(rule_2)*0.75)).index

print("Number of targets selected by rule-2: ",len(rule_2))

Number of targets selected by rule-2:  2771

In [21]:
#rule-3: select 100% of targets where target is class is 'Strategic' and range is in the q3 of the range of all the targets

#calculate q3 of range

q3_range=target_list['range'].quantile(0.75)

#select targets where target is class is 'Strategic' and range is in the q3 of the range of all the targets

rule_3=target_list[(target_list['class']=='Strategic') & (target_list['range']>q3_range)].copy()

#select 100% of targets where target is class is 'Strategic' and range is in the q3 of the range of all the targets

rule_3=rule_3.sort_values(by='range',ascending=False).index

print("Number of targets selected by rule-3: ",len(rule_3))

Number of targets selected by rule-3:  788

In [22]:
#rule-4: select 50% of targets where recoverability is below the mean of recoverability of all the targets

#calculate mean of recoverability

mean_recoverability=target_list['recoverability'].mean()

#select targets where recoverability is below the mean of recoverability of all the targets

rule_4=target_list[target_list['recoverability']<mean_recoverability].copy()

#select 50% of targets where recoverability is below the mean of recoverability of all the targets

rule_4=rule_4.sort_values(by='recoverability',ascending=True).head(int(len(rule_4)*0.5)).index

print("Number of targets selected by rule-4: ",len(rule_4))

Number of targets selected by rule-4:  3291

In [23]:
#rule-5:select 25% of targets where vulnerability is above the mean of vulnerability of all the targets

#calculate mean of vulnerability

mean_vulnerability=target_list['vulnerability'].mean()

#select targets where vulnerability is above the mean of vulnerability of all the targets

rule_5=target_list[target_list['vulnerability']>mean_vulnerability].copy()

#select 25% of targets where vulnerability is above the mean of vulnerability of all the targets

rule_5=rule_5.sort_values(by='vulnerability',ascending=False).head(int(len(rule_5)*0.25)).index

print("Number of targets selected by rule-5: ",len(rule_5))

Number of targets selected by rule-5:  924

In [24]:
#select tragets by removing duplicates

selected_targets=set(rule_1).union(set(rule_2)).union(set(rule_3)).union(set(rule_4)).union(set(rule_5))
print("Total number of targets selected from all rules after removing duplicates: ",len(selected_targets))

Total number of targets selected from all rules after removing duplicates:  5378

In [25]:
#store them in another dataframe

selected_targets_df=target_list.loc[list(selected_targets)].copy()
selected_targets_df.head()

,target_number,class,sector,number,time,type,mobility,length,width,protection,activity,defense,location_X,location_Y,value,criticality,range,accessability,vulnerability,recoverability
3,TGT-3,Operational,E,487459#99,1016,Delta,Fixed,53,61,Barricaded,Active,Medium,434,469,636.396103,320,638.996870,7667.962441,3833.981221,0.083464
5,TGT-5,Operational,I,979283#95,9730,Delta,Fixed,46,90,Bastioned,Semi-Active,Low,839,959,309.838668,600,1274.206420,11467.857777,2293.571555,0.261601
8,TGT-8,Operational,E,225849#53,1720,Epsilon,Static,29,94,Barricaded,Active,Medium,495,453,424.264069,320,670.994784,5367.958271,2683.979136,0.119226
9,TGT-9,Strategic,H,642537#31,3281,Gamma,Mobile,78,132,Barricaded,Dormant,Medium,420,859,106.066017,480,956.180422,3824.721689,1912.360845,0.250999
10,TGT-10,Operational,F,931179#81,3457,Zeta,Fixed,71,53,Bastioned,Dormant,Low,920,340,154.919334,600,980.815987,8827.343881,1765.468776,0.339853

### Model Analysis

In [26]:
#what is the probability of target in sector A is strategic in target_list?

print("Probability that any target in sector A is strategic: ",len(target_list[(target_list['sector']=='A') & (target_list['class']=='Strategic')])/len(target_list[target_list['sector']=='A']))

Probability that any target in sector A is strategic:  0.36156351791530944

In [27]:
#What is the probability that any target located in Sector C is of class ‘Strategic’ given that its Mobility is ‘Static’.

print("Probability that any target in sector C is strategic given that its mobility is static: ",len(target_list[(target_list['sector']=='C') & (target_list['class']=='Strategic') & (target_list['mobility']=='Static')])/len(target_list[(target_list['sector']=='C') & (target_list['mobility']=='Static')]))

Probability that any target in sector C is strategic given that its mobility is static:  0.3004694835680751

In [40]:
#Calculate the Posterior for Strategic Targets 

#for each feature, calculate the guassian naive bayes probability and multiply to get posterior

#select all strategic targets
import numpy as np
strategic_targets=target_list[target_list['class']=='Strategic'].copy()

#select all numeric features from strategic targets

strategic_targets=strategic_targets.select_dtypes(include=np.number)

#calculate mean and standard deviation of all numeric features

mean_strategic_targets=strategic_targets.mean()
std_strategic_targets=strategic_targets.std()


#calculate guassian naive bayes probability for each feature

prob_strategic_targets=(1/(std_strategic_targets * np.sqrt(2 * np.pi)) * np.exp( - (strategic_targets - mean_strategic_targets)**2 / (2 * std_strategic_targets**2)))

#calculate posterior for each feature

posterior_strategic_targets=prob_strategic_targets.prod(axis=1)

print("Posterior for Strategic Targets: \n",posterior_strategic_targets)

Posterior for Strategic Targets:
 9       1.273852e-31
16      1.203638e-31
17      4.228974e-32
23      6.909902e-32
26      4.839381e-33
            ...
9990    9.607568e-33
9993    7.133587e-35
9996    2.353309e-53
9998    4.687692e-33
9999    1.255441e-31
Length: 3190, dtype: float64

In [30]:
#What is the Euclidean Distance between the Mean Feature Vector and every Target in the Selected Target List file

#calculate mean of each feature

mean_criticality=analysed_target['criticality'].mean()
mean_accessability=analysed_target['accessability'].mean()
mean_vulnerability=analysed_target['vulnerability'].mean()
mean_recoverability=analysed_target['recoverability'].mean()

#calculate euclidean distance between mean feature vector and every target in the selected target list file
import numpy as np
analysed_target['euclidean_distance']=np.sqrt((analysed_target['criticality']-mean_criticality)**2+(analysed_target['accessability']-mean_accessability)**2+(analysed_target['vulnerability']-mean_vulnerability)**2+(analysed_target['recoverability']-mean_recoverability)**2)
analysed_target.head()

,target_number,criticality,accessability,vulnerability,recoverability,euclidean_distance
0,TGT-0,500,5097.357158,1019.471432,0.490450,1377.810362
1,TGT-1,480,6242.145785,1560.536446,0.307587,172.193202
2,TGT-2,500,5614.846391,1122.969278,0.445248,891.427556
3,TGT-3,320,7667.962441,3833.981221,0.083464,2557.954661
4,TGT-4,400,4082.401254,816.480251,0.489908,2388.854450